<%- include header %>
 <div class="logPage">
   <% if (success) {%>
	   <p class="opTag"><%= success %></p>
	 <% } %> 
	 <% if (error) {%>
	   <p class="opTag"><%= error %></p>
	 <% } %>
	 
	 
   <ul>
     <li><a href="#">我的日志</a></li>
	 <li><a href="#">私密日志</a></li>
	 <li><a href="#">记事本</a></li>	 
   </ul>
   
   <div class="whiteLogBtn">
	    <a href="/postLog">写日志</a>
   </div>
   <div class="logCont">
 <% posts.forEach(function (post, index) { %>       
	  <div class="postLog">
      <p><h2><a href="/p/<%= post._id %>" class="articleTitle"><%= post.title %></a></h2></p>
	  <p class="info">      
       日期：<%= post.time.minute %>
      </p>
   <p><%- post.post.substr(0,30)+'...' %></p> 
	 </div>		
<% }) %>  
</div>
<%- include paging %>
</div>

<%- include footer %>